@import "../abstracts/mixins";
@import "../abstracts/variables";

.text {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-xl {
    @include fontSize(36, 60);
    line-height: 1.22;
  }

  &-l {
    @include fontSize(18, 24);
    line-height: 1.3;
  }

  &-m {
    @include fontSize(16, 18);
    line-height: 1.3;
  }

  &-s {
    @include fontSize(14, 17);
    line-height: 1.58;

  }
}

.icon-ar-down:before {
  content: "\e900";
}

.icon-ar-right:before {
  content: "\e901";

}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-right:before {
  content: "\e903";
}

.icon-ar-top:before {
  content: "\e904";
}

.icon-btn-ar-right:before {
  content: "\e905";
}

.icon-card:before {
  content: "\e906";
}

.icon-check:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-facebook:before {
  content: "\e909";
}

.icon-heart:before {
  content: "\e90a";
}

.icon-instagram:before {
  content: "\e90b";
}

.icon-mail:before {
  content: "\e90c";
}

.icon-phone:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90e";
}

.icon-search:before {
  content: "\e90f";
}

.icon-telegram:before {
  content: "\e910";
}

.icon-trash:before {
  content: "\e911";
}

.icon-viber:before {
  content: "\e913";
}

.icon-whatsapp:before {
  content: "\e914";
}

.heading {

  &-accent {
    color: $accent-color;
  }

  &-font {
    //font-family: 'VinnytsiaSerif', serif;
  }
}

.h1 {
  @include fontSize(40, 70);
}

.h2 {
  font-size: fluid(40,50);
}

.h3 {
  @include fontSize(35, 50);
}


.h4 {
  @include fontSize(25, 30);
}

.h5 {
  @include fontSize(20, 25);
}

.h6 {
  @include fontSize(15, 17);
}