$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;


$accent-color: rgba(75, 101, 83, 1);
$primary-color: #1D1F1D;
$whiteColor: #ffffff;
$white-color: #ffffff;
$text-color: #3D3F3D;


