@import "../abstracts/mixins";
@import "../abstracts/variables";


.bg-wrap {
  &:after {
    content: '';
    height: 100%;
    left: fluid(30, 60);
    right: fluid(30, 60);
    top: 0;
    background: rgba(247, 247, 249, 1);
    position: absolute;
    border-radius: 72px;
    z-index: -1;

    @media (max-width: 1450px) {
      width: calc(100% - 10px);
      left: 5px;
    }
  }

  &--black {
    &:after {
      background: #111217;
    }
  }

  &--violet {
    &:after {
      background: #E4DFFF;
    }
  }
}

.spacer {
  height: fluid(60, 120);
}

.s-hero {
  padding: 184px 0;

  & .heading {
    margin-bottom: 16px;
    font-size: 50px;
  }

  & .description {
    margin-bottom: 36px;
    font-size: 18px;
  }

  & .btn-dark {
    background: #111217;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 19px 36px;
    border-radius: 12px;
  }
}

.s-benefits {
  padding: 48px 0 0 0;

  & .benefit {
    padding: 24px;
    background: #F7F7F9;
    border-radius: 24px;
    gap: 16px;
    display: grid;

    &__icon {
      &-wrap {
        width: 34px;
        height: 34px;
        border-radius: 100%;
        background: #111217;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 25px;
    }

    &__text {
      font-size: 18px;
      line-height: 25px;
    }

    &__wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;

      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.s-about {
  & .heading {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 24px;
  }

  & .description {
    font-size: 18px;
    line-height: 25px;
  }
}

.s-program {
  padding: fluid(60, 120) 0;

  & .heading {
    margin-bottom: 72px;
  }



  & .program {
    padding: 100px 0;
    background-color: #fcf4f4;

    &__main {
      display: grid;
      gap: 16px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 61% 1fr;
      gap: 24px;
      align-items: start;
    }

    &__sidebar {
      display: flex;
      gap: 16px;
      align-items: flex-start;
    }
  }


  .program-module {
    background: #fff;
    border-radius: 36px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    &__title {
      font-size: fluid(20, 24);
    }

    &__count {
      font-size: flujid(14, 16);
      color: rgba(63, 75, 94, .5);
    }

    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__item {
      background: rgba(247, 247, 249, 1);
      padding: 8px 16px;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 600;
      width: max-content;
    }
  }


  & .stat-card {
    flex: 1;
    padding: 36px;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    min-height: 275px;
    justify-content: space-between;

    &--purple {
      background: #8e66ff;
      color: #fff;
    }

    &--yellow {
      background: #ffde59;
      color: #333;
    }

    &__info {
      display: grid;
      gap: 4px;
    }

    &__icon {
      height: 40px;
    }

    &__value {
      font-size: 66px;
      font-weight: bold;
      line-height: 1;
    }
  }
}

.s-price {
  padding: fluid(60, 120) 0;

  & .heading {
    margin-bottom: 72px;
    color: #fff;
  }
}

.s-gallery {
  & .heading {
    margin-bottom: 48px;
  }

  & .gallery {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8.67px;

      & img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 4 / 3;
        border-radius: 36px;
      }
    }
  }
}

.s-faq {
  & .heading {
    margin-bottom: 72px;
  }
}



// Variables
$bg-dark: #0f0f13;
$accent-purple: #8166f2;
$card-light: #fff9f5;
$text-dark: #1a1a1a;
$text-gray: #666666;
$white: #ffffff;

.pricing {
  background-color: $bg-dark;
  padding: 100px 20px;
  color: $white;
  font-family: 'Inter', sans-serif;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  &__grid {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: stretch; // Картки однакової висоти

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 36px;
  border-radius: 36px;

  &--light {
    background-color: #fff;
    color: #1D1D1D;
  }

  &--accent {
    background-color: #7C59F2;
    color: #fff;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.125;
    margin: 0;
  }

  &__subtitle {
    font-size: 14px;
    opacity: 0.85;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }

  &__item {
    display: flex;
    font-size: 14px;
    margin-bottom: 12px;

    &-label {
      color: $text-gray;
      min-width: 115px;
      display: inline-block;
    }
  }

  &__footer {
    margin-top: auto; // Вирівнювання по низу
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__price-label {
    font-weight: 700;
    font-size: 18px;
  }

  &__price-box {
    text-align: right;
  }

  &__old-price {
    display: block;
    text-decoration: line-through;
    color: #b0b0b0;
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__current-price {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__input {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 13.5px 20px;
    border-radius: 16px;
    border: none;
    width: 100%;
    color: #666666;
    font-size: 16px;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: 2px solid $text-dark;
    }
  }

  &__privacy {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
    opacity: 0.7;
    line-height: 1.4;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
  width: 100%;
  text-decoration: none;

  &--primary {
    background-color: $accent-purple;
    color: $white;

    &:hover {
      opacity: 0.9;
    }
  }

  &--dark {
    background-color: $text-dark;
    color: $white;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}