@charset "UTF-8";
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li, p,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, figure, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  vertical-align: baseline;
}

b, strong {
  font-weight: bold;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  position: relative;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  background: #fff;
  color: #000;
  overflow: hidden;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

/*Mulish*/
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.social-item {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.social-item i {
  color: #ffffff;
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * (100vw - 300px) / 1620);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.social-item a {
  height: 100%;
  width: 100%;
}
.social-item.telegram {
  background: rgb(39, 166, 229);
}
.social-item.facebook {
  background: rgb(11, 132, 238);
}
.social-item.viber {
  background: rgb(124, 80, 154);
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-xl {
  font-size: 60px;
  font-size: calc(36px + (60 - 36) * (100vw - 300px) / 1620);
  line-height: 1.22;
}
.text-l {
  font-size: 24px;
  font-size: calc(18px + (24 - 18) * (100vw - 300px) / 1620);
  line-height: 1.3;
}
.text-m {
  font-size: 18px;
  font-size: calc(16px + (18 - 16) * (100vw - 300px) / 1620);
  line-height: 1.3;
}
.text-s {
  font-size: 17px;
  font-size: calc(14px + (17 - 14) * (100vw - 300px) / 1620);
  line-height: 1.58;
}

.icon-ar-down:before {
  content: "\e900";
}

.icon-ar-right:before {
  content: "\e901";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-right:before {
  content: "\e903";
}

.icon-ar-top:before {
  content: "\e904";
}

.icon-btn-ar-right:before {
  content: "\e905";
}

.icon-card:before {
  content: "\e906";
}

.icon-check:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-facebook:before {
  content: "\e909";
}

.icon-heart:before {
  content: "\e90a";
}

.icon-instagram:before {
  content: "\e90b";
}

.icon-mail:before {
  content: "\e90c";
}

.icon-phone:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90e";
}

.icon-search:before {
  content: "\e90f";
}

.icon-telegram:before {
  content: "\e910";
}

.icon-trash:before {
  content: "\e911";
}

.icon-viber:before {
  content: "\e913";
}

.icon-whatsapp:before {
  content: "\e914";
}

.heading-accent {
  color: rgb(75, 101, 83);
}
.h1 {
  font-size: 70px;
  font-size: calc(40px + (70 - 40) * (100vw - 300px) / 1620);
}

.h2 {
  font-size: clamp(40px, 40px + (50 - 40) * (100vw - 375px) / (1440 - 375), 50px);
}

.h3 {
  font-size: 50px;
  font-size: calc(35px + (50 - 35) * (100vw - 300px) / 1620);
}

.h4 {
  font-size: 30px;
  font-size: calc(25px + (30 - 25) * (100vw - 300px) / 1620);
}

.h5 {
  font-size: 25px;
  font-size: calc(20px + (25 - 20) * (100vw - 300px) / 1620);
}

.h6 {
  font-size: 17px;
  font-size: calc(15px + (17 - 15) * (100vw - 300px) / 1620);
}

.decor-line {
  height: 70px;
  width: 1px;
  margin: 0 auto;
  background-color: #ffffff;
}

.border-radius {
  border-radius: 10px;
  overflow: hidden;
}

.decor {
  padding-left: 122px;
  position: relative;
}
.decor:before {
  content: "";
  width: 122px;
  height: 1px;
  background: #1D9F96;
  position: absolute;
  left: -20px;
  top: 21px;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background-color: #eee;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background-color: rgb(75, 101, 83) !important;
}

html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none;
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;
}
.default-icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body.overflow-hidden, html.overflow-hidden {
  overflow: hidden;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none; /* Safari/Chrome */
  pointer-events: auto; /* keep interactions like clicks */
}

.lg-img-wrap img {
  user-drag: none;
  -webkit-user-drag: none;
}

.body-padding {
  height: 70px;
}
@media (max-width: 991px) {
  .body-padding {
    height: 70px;
  }
}

.section {
  overflow: hidden;
  position: relative;
}
.main {
  overflow: hidden;
  min-height: 50vh;
}
.main-wrapper {
  z-index: 1;
}

.fade-in {
  -webkit-animation: fade-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: fade-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animate-in {
  -webkit-animation: modalIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: modalIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.animate-away {
  -webkit-animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
          animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes modalIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes modalIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes modalAway {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}
@keyframes modalAway {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dashed {
  -webkit-animation: dash 8s linear infinite;
  animation: dash 8s linear infinite;
}
.dashed__box {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 20px;
  top: 15px;
  position: relative;
}

@keyframes dash {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.animation {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.animation.animated {
  opacity: 1;
}

.overflow-menu {
  overflow: hidden;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: #ffffff;
  z-index: 7;
  /* visibility: visible;
   opacity: 1;
   -webkit-transition: all 0.25s linear;
   transition: all 0.25s linear;*/
}
@media (max-width: 991px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .header {
    height: auto;
  }
}
.header .menu-item-has-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 991px) {
  .header .menu-item-has-children .sub-menu {
    position: absolute;
    width: auto;
    min-width: 250px;
    left: -15px;
    height: auto;
    padding: 15px;
    top: calc(100% + 15px);
    outline: none;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@media (max-width: 991px) {
  .header .menu-item-has-children .sub-menu {
    display: none;
    padding: 20px;
    width: calc(100vw - 40px);
    /* Анімація приховання */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 20px;
    /* Початкові паддінги 0 по вертикалі */
    -webkit-transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.4s ease;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.4s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 15px;
  }
}
@media (min-width: 991px) {
  .header .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 500;
  }
}
.header__main {
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  padding: 18px 0;
  position: relative;
}
@media (max-width: 991px) {
  .header__main {
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: grid;
    gap: 30px;
  }
}
.header__main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  visibility: visible;
  opacity: 1;
  gap: 35px;
}
@media (max-width: 1199px) {
  .header__main .menu {
    gap: 15px;
  }
}
@media (max-width: 991px) {
  .header__main .menu {
    display: grid;
    width: 100%;
    gap: 20px;
    text-align: left;
    padding-bottom: 15px;
  }
}
.header__main .menu-item a {
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media (min-width: 991px) {
  .header__main .menu-item a {
    pointer-events: none;
  }
}
.header__main .menu-item a:hover {
  color: rgb(139, 117, 96);
}
.header__main .menu-item-has-children {
  position: relative;
}
.header__main .menu-item-has-children:before {
  content: "";
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  position: absolute;
  top: -5px;
  left: -15px;
  background: transparent;
  z-index: -1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header__main .menu-item-has-children > a {
  position: relative;
}
@media (min-width: 991px) {
  .header__main .menu-item-has-children > a {
    padding-right: 18px;
  }
}
.header__main .menu-item-has-children .sub-menu {
  background: #fff;
  border: 1px solid rgba(204, 195, 189, 0.3);
}
.header__main .menu-item-has-children .sub-menu .menu-item a {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.header__main .menu-item-has-children .sub-menu .menu-item:not(.header__main .menu-item-has-children .sub-menu .menu-item:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 991px) {
  .header__main .menu-item-has-children:hover {
    color: rgb(139, 117, 96);
  }
  .header__main .menu-item-has-children:hover:before {
    background: rgb(245, 243, 242);
  }
  .header__main .menu-item-has-children:hover:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__main .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 500;
  }
}
.header__bottom {
  padding: 20px 0;
}
@media (max-width: 991px) {
  .header__bottom {
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 991px) {
  .header__bottom-inner {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.header__bottom .menu {
  gap: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1300px) {
  .header__bottom .menu {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .header__bottom .menu {
    display: grid;
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
  }
}
.header__bottom .menu-item {
  position: relative;
}
.header__bottom .menu-item a {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.header__bottom .menu-item-has-children > a:after {
  right: -15px;
}
.header__bottom .menu-item .sub-menu {
  background-color: #4b6553;
}
.header__bottom .menu-item .sub-menu .menu-item:not(.header__bottom .menu-item .sub-menu .menu-item:last-child) {
  margin-bottom: 15px;
}
.header__bottom .menu-item .sub-menu a {
  color: #fff;
}
.header__bottom .menu-item .sub-menu a:hover {
  color: #ccc3bd;
}
.header__bottom {
  /* & .menu > .menu-item {
     &:not(&:last-child) {
       &:after {

         @media (min-width: $breakpoint-xl) {
           content: '';
           width: 6px;
           height: 6px;
           border-radius: 100%;
           background: rgba(255, 255, 255, 1);
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           right: -26px;
         }
         @media (max-width: 1300px) {
           right: -17px;
           width: 4px;
           height: 4px;
         }
       }
     }
   }*/
}
.header .logo {
  height: 100%;
}
.header .logo__wrap {
  width: 162px;
  height: 32px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-out 0.5s;
  transition: -webkit-transform ease-out 0.5s;
  transition: transform ease-out 0.5s;
  transition: transform ease-out 0.5s, -webkit-transform ease-out 0.5s;
}
@media (min-width: 1400px) {
  .header .logo__wrap {
    width: 223px;
  }
}
@media (max-width: 1199px) {
  .header .logo__wrap {
    width: 130px;
    height: auto;
  }
}
@media (max-width: 991px) {
  .header .logo__wrap {
    width: 178px;
    height: 44px;
  }
}
@media (max-width: 450px) {
  .header .logo__wrap {
    width: 115px;
    height: 44px;
  }
}
.header .controls {
  gap: 70px;
}
@media (max-width: 991px) {
  .header .controls {
    margin-right: 57px;
    gap: 32px;
  }
}
@media (max-width: 450px) {
  .header .controls {
    margin-right: 40px;
    gap: 15px;
  }
}
.header .controls .btn-search, .header .controls .btn-cart {
  color: rgb(139, 117, 96);
  cursor: pointer;
}
.header .controls .btn-search i, .header .controls .btn-cart i {
  color: rgb(139, 117, 96);
  padding-right: 9px;
}
@media (max-width: 991px) {
  .header .controls .btn-search i {
    padding-right: 0;
  }
}
.header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 25px;
  height: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header .burger > span {
  height: 1px;
  background-color: rgb(139, 117, 96);
  border-radius: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 999;
  width: 100%;
}
.header .burger__wrap {
  display: none;
}
@media (max-width: 991px) {
  .header .burger__wrap {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.header .burger__wrap.active .burger span {
  width: 100%;
}
.header .burger__wrap.active .burger span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
      -ms-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
.header .burger__wrap.active .burger span:nth-child(2) {
  opacity: 0;
}
.header .burger__wrap.active .burger span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
      -ms-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}
@media (max-width: 991px) {
  .header__inner {
    height: calc(100vh - 84px);
    background-color: #fff;
    position: fixed;
    top: 84px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
    z-index: 2;
    width: 100%;
    right: -100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    padding: 24px 20px 20px 20px;
  }
  .header__inner:before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(204, 195, 189, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.header .logo__wrap, .header .controls {
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
@media (max-width: 991px) {
  .header.open-menu .header__inner {
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
.header.open-menu .controls {
  opacity: 0;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
  font-family: "Inter", sans-serif;
}
.top-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.top-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-nav__item.menu-item-has-children::after {
  content: "";
  width: 10px;
  height: 6px;
  margin-left: 8px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%231A1A1A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  pointer-events: none;
}
.top-nav__link {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.top-nav__link:hover {
  opacity: 0.7;
}
.top-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4f52e1;
  color: #fff;
  padding: 12px 24px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}
.top-nav__btn::after {
  content: "";
  width: 10px;
  height: 6px;
  margin-left: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1 1L5 5L9 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
}
.top-nav__btn:hover {
  background-color: rgb(57.213592233, 60.5849514563, 221.286407767);
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.top-nav__btn:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 768px) {
  .top-nav__container {
    gap: 15px;
  }
  .top-nav__btn-text {
    display: none;
  }
}
.footer {
  background: #111217;
  position: relative;
  color: #fff;
}
.footer__top {
  padding: 0 0 92px 0;
}
.footer__bottom {
  padding: 24px 0;
}
.footer__bottom:before {
  content: "";
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
}
.footer__bottom .copyright {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 767px) {
  .footer-info__wrap {
    padding: 0 0 30px 0;
  }
}
.footer-info__title {
  padding-top: 36px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer-info__title {
    font-size: 17px;
  }
}
.footer-info .menu {
  gap: 15px;
  display: grid;
}
@media (max-width: 767px) {
  .footer-info .menu {
    gap: 10px;
  }
}
.footer-info .menu-item a {
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
@media (max-width: 767px) {
  .footer-info .menu-item a {
    font-size: 14px;
  }
}
.footer-info .menu-item a:hover {
  color: rgb(75, 101, 83);
}
.footer-info .contact {
  gap: 15px;
  display: grid;
}
@media (max-width: 767px) {
  .footer-info .contact {
    gap: 10px;
  }
}
.footer-info .contact-item {
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .footer-info .contact-item {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .footer-info .contact-item {
    font-size: 13px;
  }
}
.footer-info .contact-item a[href^="mailto:"] {
  color: rgb(75, 101, 83);
}
.footer-links {
  gap: 50px;
}
@media (max-width: 767px) {
  .footer-links {
    gap: 30px;
    width: 100%;
  }
}
.footer-links li a {
  font-size: 16px;
  font-size: calc(13px + (16 - 13) * (100vw - 300px) / 1620);
  font-weight: 300;
  color: rgb(75, 101, 83);
}
.footer-links li:nth-child(1) {
  position: relative;
}
.footer-links li:nth-child(1):after {
  content: "";
  width: 1px;
  height: 100%;
  background: #CEC1B6;
  position: absolute;
  right: -25px;
  top: 0;
}
@media (max-width: 767px) {
  .footer-links li:nth-child(1):after {
    right: -15px;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-flex {
    display: flex !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .container {
    padding: 0 10px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-row {
  margin: 0 -10px;
}

.p-0 {
  padding: 0;
}
.column {
  padding: 0 10px;
  position: relative;
}

.align-self-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-spaced {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-start {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-content-justify {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666666%;
  flex: 0 0 16.666666%;
  max-width: 16.666666%;
}

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24.999999%;
  flex: 0 0 24.999999%;
  max-width: 24.999999%;
}

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333332%;
  flex: 0 0 33.333332%;
  max-width: 33.333332%;
}

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666665%;
  flex: 0 0 41.666665%;
  max-width: 41.666665%;
}

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49.999998%;
  flex: 0 0 49.999998%;
  max-width: 49.999998%;
}

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333331%;
  flex: 0 0 58.333331%;
  max-width: 58.333331%;
}

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666664%;
  flex: 0 0 66.666664%;
  max-width: 66.666664%;
}

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74.999997%;
  flex: 0 0 74.999997%;
  max-width: 74.999997%;
}

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666663%;
  flex: 0 0 91.666663%;
  max-width: 91.666663%;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 99.999996%;
  flex: 0 0 99.999996%;
  max-width: 99.999996%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666665%;
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.999998%;
    flex: 0 0 49.999998%;
    max-width: 49.999998%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333331%;
    flex: 0 0 58.333331%;
    max-width: 58.333331%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666664%;
    flex: 0 0 66.666664%;
    max-width: 66.666664%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74.999997%;
    flex: 0 0 74.999997%;
    max-width: 74.999997%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666663%;
    flex: 0 0 91.666663%;
    max-width: 91.666663%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666665%;
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.999998%;
    flex: 0 0 49.999998%;
    max-width: 49.999998%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333331%;
    flex: 0 0 58.333331%;
    max-width: 58.333331%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666664%;
    flex: 0 0 66.666664%;
    max-width: 66.666664%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74.999997%;
    flex: 0 0 74.999997%;
    max-width: 74.999997%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666663%;
    flex: 0 0 91.666663%;
    max-width: 91.666663%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666665%;
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.999998%;
    flex: 0 0 49.999998%;
    max-width: 49.999998%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333331%;
    flex: 0 0 58.333331%;
    max-width: 58.333331%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666664%;
    flex: 0 0 66.666664%;
    max-width: 66.666664%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74.999997%;
    flex: 0 0 74.999997%;
    max-width: 74.999997%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666663%;
    flex: 0 0 91.666663%;
    max-width: 91.666663%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666665%;
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.999998%;
    flex: 0 0 49.999998%;
    max-width: 49.999998%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333331%;
    flex: 0 0 58.333331%;
    max-width: 58.333331%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666664%;
    flex: 0 0 66.666664%;
    max-width: 66.666664%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74.999997%;
    flex: 0 0 74.999997%;
    max-width: 74.999997%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666663%;
    flex: 0 0 91.666663%;
    max-width: 91.666663%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
  }
}
/* small phones grid*/
@media (max-width: 475px) {
  .col-exs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-exs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666666%;
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
  .col-exs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.999999%;
    flex: 0 0 24.999999%;
    max-width: 24.999999%;
  }
  .col-exs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333332%;
    flex: 0 0 33.333332%;
    max-width: 33.333332%;
  }
  .col-exs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666665%;
    flex: 0 0 41.666665%;
    max-width: 41.666665%;
  }
  .col-exs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49.999998%;
    flex: 0 0 49.999998%;
    max-width: 49.999998%;
  }
  .col-exs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333331%;
    flex: 0 0 58.333331%;
    max-width: 58.333331%;
  }
  .col-exs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666664%;
    flex: 0 0 66.666664%;
    max-width: 66.666664%;
  }
  .col-exs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 74.999997%;
    flex: 0 0 74.999997%;
    max-width: 74.999997%;
  }
  .col-exs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-exs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666663%;
    flex: 0 0 91.666663%;
    max-width: 91.666663%;
  }
  .col-exs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%;
  }
}
@media (max-width: 575px) {
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 575px) {
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  .offset-md-0 {
    margin-left: 0 !important;
  }
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

/*spacers*/
.spacer {
  clear: both;
}

.spacer-xxl {
  height: 140px;
}

.spacer-xl {
  height: 110px;
}

.spacer-lg {
  height: 100px;
}

.spacer-md {
  height: 70px;
}

.spacer-sm {
  height: 50px;
}

.spacer-xs {
  height: 30px;
}

.spacer-ss {
  height: 10px;
}

.mb-45 {
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .mb-45 {
    margin-bottom: 15px;
  }
}

.btn {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 20px;
  line-height: 100%;
  border: 1px solid rgb(75, 101, 83);
  text-align: center;
  display: inline-block;
  font-weight: 400;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 20px;
}
.btn:hover .btn__icon i {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn:focus {
  outline: none;
}
.btn.size-2 {
  min-width: 263px;
}
.btn-primary {
  background: rgb(75, 101, 83);
  color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn-primary.style-2 {
  padding: 7px 20px 6px 20px;
  font-size: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 243px;
}
.btn-primary.style-2 i {
  font-size: 35px;
  padding-right: 20px;
}
.btn-transparent, .btn-transparent__white {
  background: transparent;
}
.btn-transparent i, .btn-transparent__white i {
  font-size: 13px;
  padding-left: 15px;
}
.btn-transparent {
  border-color: rgb(75, 101, 83);
  color: rgb(75, 101, 83);
}
.btn-transparent__white {
  border-color: #ffffff;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  */
  -webkit-border-radius: 0;
}

input:focus, button:focus {
  outline: none;
}

.form-control {
  position: relative;
}
.form-control:not(.form-control.no-margin) {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .form-control:not(.form-control.no-margin) {
    margin-bottom: 20px;
  }
}
.form-control__input, .form-control__textarea {
  background: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: rgb(151, 151, 151);
  resize: none;
  padding: 12px 20px;
}
.form-control__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 15px 33px 17px 33px;
  line-height: 100%;
}
@media (max-width: 767px) {
  .form-control__btn {
    margin-top: 10px;
  }
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: rgb(151, 151, 151);
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

::-moz-placeholder {
  font-size: 16px;
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: rgb(151, 151, 151);
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: rgb(151, 151, 151);
  opacity: 1;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

div.wpcf7 .ajax-loader {
  display: none !important;
}

input:-internal-autofill-selected {
  -webkit-appearance: menulist-button;
     -moz-appearance: menulist-button;
          appearance: menulist-button;
  background-image: none !important;
  background-color: #21242C !important;
  caret-color: #ffffff;
  -webkit-text-fill-color: #fff !important;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #21242C inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.accordion {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 8px;
}
.accordion-item {
  padding: 28px 36px;
  background: #F7F7F9;
  border-radius: 16px;
}
.accordion-title {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(29, 29, 29);
}
.accordion-title__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.accordion-title__btn img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.accordion-title.is-active .accordion-title__btn img {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accordion-title.is-active i::after {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion-inner {
  display: none;
}
.accordion-inner .text {
  font-size: 18px;
  line-height: 1.5;
  padding-top: 16px;
}

@media (min-width: 1200px) {
  .accordion-title:hover {
    color: var(--clr-primary);
  }
}
@media (max-width: 991px) {
  .accordion-item {
    --padding-acc: .875rem;
  }
}
.bg-wrap:after {
  content: "";
  height: 100%;
  left: clamp(30px, 30px + (60 - 30) * (100vw - 375px) / (1440 - 375), 60px);
  right: clamp(30px, 30px + (60 - 30) * (100vw - 375px) / (1440 - 375), 60px);
  top: 0;
  background: rgb(247, 247, 249);
  position: absolute;
  border-radius: 72px;
  z-index: -1;
}
@media (max-width: 1450px) {
  .bg-wrap:after {
    width: calc(100% - 10px);
    left: 5px;
  }
}
.bg-wrap--black:after {
  background: #111217;
}
.bg-wrap--violet:after {
  background: #E4DFFF;
}

.spacer {
  height: clamp(60px, 60px + (120 - 60) * (100vw - 375px) / (1440 - 375), 120px);
}

.s-hero {
  padding: 184px 0;
}
.s-hero .heading {
  margin-bottom: 16px;
  font-size: 50px;
}
.s-hero .description {
  margin-bottom: 36px;
  font-size: 18px;
}
.s-hero .btn-dark {
  background: #111217;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 19px 36px;
  border-radius: 12px;
}

.s-benefits {
  padding: 48px 0 0 0;
}
.s-benefits .benefit {
  padding: 24px;
  background: #F7F7F9;
  border-radius: 24px;
  gap: 16px;
  display: grid;
}
.s-benefits .benefit__icon {
  width: 10px;
  height: 10px;
}
.s-benefits .benefit__icon-wrap {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #111217;
}
.s-benefits .benefit__title {
  font-size: 24px;
  line-height: 25px;
}
.s-benefits .benefit__text {
  font-size: 18px;
  line-height: 25px;
}
.s-benefits .benefit__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
@media (max-width: 991px) {
  .s-benefits .benefit__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .s-benefits .benefit__wrap {
    grid-template-columns: 1fr;
  }
}

.s-about .heading {
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 24px;
}
.s-about .description {
  font-size: 18px;
  line-height: 25px;
}

.s-program {
  padding: clamp(60px, 60px + (120 - 60) * (100vw - 375px) / (1440 - 375), 120px) 0;
}
.s-program .heading {
  margin-bottom: 72px;
}
.s-program .program {
  padding: 100px 0;
  background-color: #fcf4f4;
}
.s-program .program__main {
  display: grid;
  gap: 16px;
}
.s-program .program__grid {
  display: grid;
  grid-template-columns: 61% 1fr;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.s-program .program__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.s-program .program-module {
  background: #fff;
  border-radius: 36px;
  padding: 40px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.s-program .program-module__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.s-program .program-module__title {
  font-size: clamp(20px, 20px + (24 - 20) * (100vw - 375px) / (1440 - 375), 24px);
}
.s-program .program-module__count {
  font-size: flujid(14, 16);
  color: rgba(63, 75, 94, 0.5);
}
.s-program .program-module__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.s-program .program-module__item {
  background: rgb(247, 247, 249);
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.s-program .stat-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 36px;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 275px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-program .stat-card--purple {
  background: #8e66ff;
  color: #fff;
}
.s-program .stat-card--yellow {
  background: #ffde59;
  color: #333;
}
.s-program .stat-card__info {
  display: grid;
  gap: 4px;
}
.s-program .stat-card__icon {
  height: 40px;
}
.s-program .stat-card__value {
  font-size: 66px;
  font-weight: bold;
  line-height: 1;
}

.s-price {
  padding: clamp(60px, 60px + (120 - 60) * (100vw - 375px) / (1440 - 375), 120px) 0;
}
.s-price .heading {
  margin-bottom: 72px;
  color: #fff;
}

.s-gallery .heading {
  margin-bottom: 48px;
}
.s-gallery .gallery__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8.67px;
}
.s-gallery .gallery__wrap img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 4/3;
  border-radius: 36px;
}

.s-faq .heading {
  margin-bottom: 72px;
}

.pricing {
  background-color: #0f0f13;
  padding: 100px 20px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.pricing__container {
  max-width: 1200px;
  margin: 0 auto;
}
.pricing__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 500;
}
.pricing__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 992px) {
  .pricing__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 36px;
  border-radius: 36px;
}
.card--light {
  background-color: #fff;
  color: #1D1D1D;
}
.card--accent {
  background-color: #7C59F2;
  color: #fff;
}
@media (max-width: 992px) {
  .card--accent {
    max-width: 100%;
  }
}
.card__header {
  margin-bottom: 24px;
}
.card__title {
  font-size: 32px;
  line-height: 1.125;
  margin: 0;
}
.card__subtitle {
  font-size: 14px;
  opacity: 0.85;
  margin: 0;
}
.card__list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 12px;
}
.card__item-label {
  color: #666666;
  min-width: 115px;
  display: inline-block;
}
.card__footer {
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 24px;
}
.card__price-label {
  font-weight: 700;
  font-size: 18px;
}
.card__price-box {
  text-align: right;
}
.card__old-price {
  display: block;
  text-decoration: line-through;
  color: #b0b0b0;
  font-size: 14px;
  margin-bottom: 4px;
}
.card__current-price {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}
.card__current-price span {
  font-size: 16px;
  font-weight: 400;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.form__input {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 13.5px 20px;
  border-radius: 16px;
  border: none;
  width: 100%;
  color: #666666;
  font-size: 16px;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input::-moz-placeholder {
  color: #999;
}
.form__input:-ms-input-placeholder {
  color: #999;
}
.form__input::-ms-input-placeholder {
  color: #999;
}
.form__input::placeholder {
  color: #999;
}
.form__input:focus {
  outline: 2px solid #1a1a1a;
}
.form__privacy {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
  opacity: 0.7;
  line-height: 1.4;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  width: 100%;
  text-decoration: none;
}
.button--primary {
  background-color: #8166f2;
  color: #ffffff;
}
.button--primary:hover {
  opacity: 0.9;
}
.button--dark {
  background-color: #1a1a1a;
  color: #ffffff;
}
.button--dark:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}/*# sourceMappingURL=app.css.map */