@import "../abstracts/mixins";
@import "../abstracts/variables";

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;

  &-item {

    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 100%;
    @include transition(.5);

    @media (max-width: $breakpoint-md) {}

    & i {
      color: $whiteColor;
      @include fontSize(18, 20);
      @include transition(.5);
    }

    & a {
      height: 100%;
      width: 100%;
    }

    &:hover {}


    &.telegram {
      background: rgba(39, 166, 229, 1);
    }

    &.facebook {
      background: rgba(11, 132, 238, 1);
    }

    &.viber {
      background: rgba(124, 80, 154, 1);
    }
  }
}